{% extends 'core/base.html' %}

{% block title %}Categories{% endblock %}

{% block content %}
    <h1 class="mb-6 text-xl">Categories</h1>

    <a href="{% url 'links:create_category' %}" class="inline-block mb-6 py-4 px-6 bg-cyan-600 text-white rounded-xl">Create category</a>

    <div class="grid grid-cols-3 gap-3">
        {% for category in categories %}
            <div class="bg-gray-100 p-6 rounded-xl">
                <h2 class="mb-4 text-xl">{{ category.name }}</h2>

                <a href="{% url 'links:links' %}?category={{ category.id }}" class="text-cyan-700">View</a>
                |
                <a href="{% url 'links:edit_category' category.id %}" class="text-cyan-700">Edit</a>
                |
                <a href="{% url 'links:delete_category' category.id %}" class="text-cyan-700">Delete</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}