{% extends 'core/base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <h1 class="mb-6 text-xl">Dashboard</h1>

    <div class="p-6 bg-gray-100 rounded-xl">
        <h2 class="mb-4 text-xl">Newest links</h2>

        {% for link in newest_links %}
            <div class="mb-2 flex justify-between items-center">
                <p>{{ link.name }}</p>
                <a href="{{ link.url }}" class="underline" target="_blank">Open link</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}